<div class="container-fluid">

    <div class="w-100 h-100 row" style="position: absolute">
        <div class=" d-flex flex-column border-right h-100" style="width: 300px;">
            <img class="w-100" src="assets/logo.png">
            <p type="button" class="list-group-item list-group-item-action active">
                Messenger <i style="opacity: .2">Hermes</i>
            </p>
            <div class="h-100 " style="overflow-y: scroll">
                <div class="list-group list-group-flush">

                    <button type="button" class="list-group-item list-group-item-action bg-secondary text-light"><b>History</b></button>
                    <button type="button" class="list-group-item list-group-item-action bg-secondary text-light"><b>Send SMS</b></button>
                    <button [hidden]="hideGroups" type="button" class="list-group-item list-group-item-action">Men Ministry</button>
                    <button [hidden]="hideGroups" type="button" class="list-group-item list-group-item-action">Women Ministry</button>
                    <button [hidden]="hideGroups" type="button" class="list-group-item list-group-item-action">Youth Ministry</button>
                    <button [hidden]="hideGroups" type="button" class="list-group-item list-group-item-action">Teens Ministry</button>
                    <button [hidden]="hideGroups" type="button" class="list-group-item list-group-item-action">Children Ministry </button>
                </div>
            </div>
        </div>
        <app-send-sms [hidden]="hideSendSMS" class="container-fluid col h-100"></app-send-sms>
        <app-dashboard [hidden]="hideDashboard"  class="container-fluid col h-100" ></app-dashboard>
        <app-nohistory [hidden]="hideNoHistory"  class="container-fluid col h-100"></app-nohistory>
    </div>
</div>
