<div class="container-fluid">
    <div class="w-100 h-100 row" style="position: absolute">
        <div class=" d-flex flex-column border-right h-100" style="width: 256px;">
            <img class="w-100" src="assets/logo.png">
            <p type="button" class="list-group-item list-group-item-action active">
                Messenger <i style="opacity: .2">Hermes</i>
            </p>
            <div class="h-100 " style="overflow-y: scroll">
                <div class="list-group list-group-flush">

                    <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis</button>
                    <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                    <button type="button" class="list-group-item list-group-item-action">Porta consectetur</button>
                    <button type="button" class="list-group-item list-group-item-action">Vestibulum</button>
                    <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis</button>
                    <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                    <button type="button" class="list-group-item list-group-item-action">Porta consectetur</button>
                    <button type="button" class="list-group-item list-group-item-action">Vestibulum</button>
                    <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis</button>
                    <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                    <button type="button" class="list-group-item list-group-item-action">Porta consectetur</button>
                    <button type="button" class="list-group-item list-group-item-action">Vestibulum</button>
                    <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis</button>
                    <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                    <button type="button" class="list-group-item list-group-item-action">Porta consectetur</button>
                    <button type="button" class="list-group-item list-group-item-action">Vestibulum</button>
                    <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis</button>
                    <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                    <button type="button" class="list-group-item list-group-item-action">Porta consectetur</button>
                    <button type="button" class="list-group-item list-group-item-action">Vestibulum</button>
                    <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis</button>
                    <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                    <button type="button" class="list-group-item list-group-item-action">Porta consectetur</button>
                    <button type="button" class="list-group-item list-group-item-action">Vestibulum</button>
                    <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis</button>
                    <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                    <button type="button" class="list-group-item list-group-item-action">Porta consectetur</button>
                    <button type="button" class="list-group-item list-group-item-action">Vestibulum</button>
                    <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis</button>
                    <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                    <button type="button" class="list-group-item list-group-item-action">Porta consectetur</button>
                    <button type="button" class="list-group-item list-group-item-action">Vestibulum</button>
                </div>
            </div>
        </div>
        <div class="p-1 d-flex flex-column h-100 border-right" style="width: 256px">
            <label class="pt-2">Members</label>
            <input type="text" class="form-control" placeholder="Search">
            <div class="mt-1">
                <span class=""> <label for="selectall" class="text-secondary"><input  type="checkbox" value="" id="selectall"> All  </label></span>
                <button class="btn btn-primary btn-sm ml-1">Add Selected</button>
            </div>

            <div class="text-primary mh-100 h-100 mt-2 " style="overflow-y: scroll">
                <ul class="search-list list-group">
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                </ul>
            </div>
        </div>

        <div class="p-1 d-flex flex-column h-100" style="width: 256px">
            <label class="pt-2" title="Message will be sent to members in this list">Selected Members</label>
            <input type="text" class="form-control" placeholder="Search">
            <div class="mt-1">
                <span class=""> <label for="removeall" class="text-secondary"><input  type="checkbox" value="" id="removeall"> All  </label></span>
                <button class="btn btn-danger btn-sm ml-1">Remove Selected</button>
            </div>
            <div class="text-primary mh-100 h-100 mt-2 " style="overflow-y: scroll">
                <ul class="search-list list-group">
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                    <li>Chempa Francis</li>
                    <li>Dokyin Francis</li>
                    <li>Montford Anthony</li>
                    <li>Montford Vida</li>
                    <li>Musah Suzzana</li>
                </ul>
            </div>
        </div>

        <div class=" col border-left p-1" style="">
            <div class="h-50 ">
                <div class="form-group d-flex flex-column h-100">
                    <div>
                        <label class="pt-2" for="sms-box">Message </label>
                        <button class="btn btn-sm btn-primary ml-1 float-right">Send SMS</button>
                    </div>
                    <textarea class="form-control h-100 bg-light sms-box" id="sms-box" rows="3"></textarea>
                </div>
            </div>
            <div class="h-50  border-top pt-1 bg-light container-fluid">
                <div class="row">
                    <div class="h-100" style="width: 128px">
                        <img class="pt-1" style="width: 128px" src="../../../assets/pass.png">
                        <img class="pt-1" style="width: 128px" src="../../../assets/qr.png">
                    </div>
                    <div class="col h-100" >
                        <pre class="text-dark">
    Title        :    Mr
    First Name   :    Francis
    Middle Name  :
    Last Name    :    Chempa
    Date of Birth:    09-03-1995
    Phone        :    0547932705
    E-mail       :    francis.chempa@stu.ucc.edu.gh
    Last Attended:    20-02-2021

</pre>
                    </div>
                </div>


<!--                <pre class="bg-primary">-->
<!--                    Name : Chempa Francis-->
<!--                </pre>-->
            </div>
        </div>
    </div>
</div>
