<div class="container-fluid">

    <div class="w-100 h-100 row" style="position: absolute">
        <div class=" d-flex flex-column border-right h-100" style="width: 300px;">
            <img class="w-100" src="assets/logo.png">
            <p type="button" class="list-group-item list-group-item-action active">
                Messenger <i style="opacity: .2">Hermes</i>
            </p>
            <div class="h-100 " style="overflow-y: scroll">
                <div class="list-group list-group-flush">

                    <button type="button" class="list-group-item list-group-item-action bg-secondary text-light"><b>DashBoard</b></button>
                    <button type="button" class="list-group-item list-group-item-action">Men Ministry</button>
                    <button type="button" class="list-group-item list-group-item-action">Women Ministry</button>
                    <button type="button" class="list-group-item list-group-item-action">Youth Ministry</button>
                    <button type="button" class="list-group-item list-group-item-action">Teens Ministry</button>
                    <button type="button" class="list-group-item list-group-item-action">Children Ministry </button>
                </div>
            </div>
        </div>
        <div class="container-fluid col h-100">
            <div class="row h-100">
                <div class="p-1 d-flex flex-column h-100 border-right  col-3" style="">
                    <label class="pt-2 text-secondary ">Members</label>
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="mt-1 ">
                        <span class=""> <label for="selectall" class="text-secondary"><input  type="checkbox" value="" id="selectall"> All  </label></span>
                        <i class="fa fa-plus text-primary fa-border ml-2"></i>
                    </div>

                    <div class="text-primary mh-100 h-100  border-top" style="overflow-y: scroll">
                        <ul class="search-list list-group">
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span>Chempa Francis</span><i class="fa fa-plus fa-pull-right fa-border mr-2"></i></li>

                        </ul>
                    </div>
                </div>

                <div class="p-1 d-flex flex-column h-100 border-right  col-3" style="">
                    <label class="pt-2 text-secondary">Selected Contacts</label>
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="mt-1 ">
                        <span class=""> <label for="selectall" class="text-secondary"><input  type="checkbox" value="" id="selectall2"> All  </label></span>
                        <i class="fa fa-minus text-danger fa-border ml-2"></i>
                    </div>

                    <div class=" mh-100 h-100  border-top" style="overflow-y: scroll">
                        <ul class="search-list list-group">
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>
                            <li class="mt-2"><input class="mr-1"  type="checkbox" value=""><span class="text-primary">Chempa Francis</span><i class="fa text-danger fa-minus fa-pull-right fa-border mr-2"></i></li>

                        </ul>
                    </div>
                </div>

                <div class=" col border-left p-1" style="">
                    <div class="h-50 ">
                        <div class="form-group d-flex flex-column h-100">
                            <div>
                                <label class="pt-2" for="sms-box">Message </label>
                                <button class="btn btn-sm btn-primary ml-1 float-right">Send SMS</button>
                            </div>
                            <textarea class="form-control h-100 bg-light sms-box" id="sms-box" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="h-50  border-top pt-1 bg-light container-fluid">
                        <div class="row">
                            <div class="h-100" style="width: 128px">
                                <img class="pt-1" style="width: 128px" src="../../../assets/pass.png">
                                <img class="pt-1" style="width: 128px" src="../../../assets/qr.png">
                            </div>
                            <div class="col h-100  p-0" style="overflow: hidden" >
                            <pre class="text-dark  m-0 p-3" style="">

Title        :    Mr
First Name   :    Francis
Middle Name  :
Last Name    :    Chempa
Date of Birth:    09-03-1995
Phone        :    0547932705
E-mail       :    francis.chempa@stu.ucc.edu.gh
Last Attended:    20-02-2021

    </pre>
                            </div>
                        </div>


                        <!--                <pre class="bg-primary">-->
                        <!--                    Name : Chempa Francis-->
                        <!--                </pre>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
