<div class="col-12 h-100 d-flex flex-column bg-light">
    <div class="d-flex text-secondary" style="height: 50px;  align-items: center;">
        <h4 class="font-weight-bold">Previous Messages</h4>
    </div> 
    <div class="border-bottom" style="height: 50px;">
        <input type="text" class="form-control col-5" placeholder="Search Messages">  
    </div>
    <div class="pt-4 row">
        <div class="col-4 p-1">
            <div class="p-1 card col-12 mt-1" >
                <pre [title]="'MSG:'+message"><i class="text-primary font-weight-bold">Date:</i>{{today}}
<i class="text-primary font-weight-bold">Recevers:</i>90
<i class="text-primary font-weight-bold">Content:</i>{{message}}</pre>  
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="p-1 card col-12 mt-1" >
                <pre [title]="'MSG:'+message"><i class="text-primary font-weight-bold">Date:</i>{{today}}
<i class="text-primary font-weight-bold">Recevers:</i>90
<i class="text-primary font-weight-bold">Content:</i>{{message}}</pre>  
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="p-1 card col-12 mt-1" >
                <pre [title]="'MSG:'+message"><i class="text-primary font-weight-bold">Date:</i>{{today}}
<i class="text-primary font-weight-bold">Recevers:</i>90
<i class="text-primary font-weight-bold">Content:</i>{{message}}</pre>  
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="p-1 card col-12 mt-1" >
                <pre [title]="'MSG:'+message"><i class="text-primary font-weight-bold">Date:</i>{{today}}
<i class="text-primary font-weight-bold">Recevers:</i>90
<i class="text-primary font-weight-bold">Content:</i>{{message}}</pre>  
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="p-1 card col-12 mt-1" >
                <pre [title]="'MSG:'+message"><i class="text-primary font-weight-bold">Date:</i>{{today}}
<i class="text-primary font-weight-bold">Recevers:</i>90
<i class="text-primary font-weight-bold">Content:</i>{{message}}</pre>  
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="p-1 card col-12 mt-1" >
                <pre [title]="'MSG:'+message"><i class="text-primary font-weight-bold">Date:</i>{{today}}
<i class="text-primary font-weight-bold">Recevers:</i>90
<i class="text-primary font-weight-bold">Content:</i>{{message}}</pre>  
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="p-1 card col-12 mt-1" >
                <pre [title]="'MSG:'+message"><i class="text-primary font-weight-bold">Date:</i>{{today}}
<i class="text-primary font-weight-bold">Recevers:</i>90
<i class="text-primary font-weight-bold">Content:</i>{{message}}</pre>  
            </div>
        </div>
        <div class="col-4 p-1">
            <div class="p-1 card col-12 mt-1" >
                <pre [title]="'MSG:'+message"><i class="text-primary font-weight-bold">Date:</i>{{today}}
<i class="text-primary font-weight-bold">Recevers:</i>90
<i class="text-primary font-weight-bold">Content:</i>{{message}}</pre>  
            </div>
        </div>
        
        
        
    </div>  
</div>